body{background-image: url("https://icons.iconarchive.com/icons/thesquid.ink/free-flat-sample/1024/support-icon.png");
background-repeat: no-repeat;
background-position: top;
background-color: #F7F6DC;
}
h2{
  text-align: left;
  font-size: 72px;
  font-family: "Lucida Console", Courier, monospace;
  text-shadow: 2px 2px #000000;

}
